body {
    margin: 0;
}

section {
    display: inline-block;
    background-color: white;
    text-align: center;
    color: black;
}

caption {
    background-color: #32BF84;
    text-align: center;
    color: #ffffff;
}

article tr {
    background-color: lightyellow;
}

td {
    padding: 0 20px;
}

figure > figcaption {
    width: 16em;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 250px;
    height: 150px;
}

figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.table-title {
    padding: 30px 0 0 30px;
}
